<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <h1>Edit Tab Page</h1>
        <h4>Admin login</h4>
    </header>
    <main>
        <form action="/tab" method="POST">
            <h2>New Guitar Tab Record</h2>
            Title: <input type="text" name="tabTitle"/><br><br>
            Artist: <input type="text" name="artist"/><br><br>
            Difficulty: <input type="text" name=""/><br><br>
            Genre: <input type="text" name="genre"/><br><br>
            Rating: <input type="text" name="rating"/><br><br>
            Tuning: <input type="text" name="tuning"/><br><br>
            Source: <input type="text" name="tabSource"/><br><br>
            <form action="">
                <label for="myfile">Select a tab file:</label>
                <input type="file" id="myfile" name="myfile"><br><br>
                <input type="submit">
            </form>
            <br><br>
            <input type="submit" name="" value="Create Guitar Tab"/>
            <br><br>
        </form>
    </main>
    <footer>
        <br><br>
        <a href="/tab/1">Show Tab Page</a>
    </footer>
</body>


</html>