<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <header>
        <h1>Welcome to Jay's Fabulous Guitar Tab Database Application</h1>
        <a href="/users/login">Admin login</a>
    </header>
    <main>
        <div id="searchCriteria">
            <h2>Search Tabs by:</h2>
            <label for="tabTitle">Title</label>
            <select name="tabTitle" id="tabTitle">
                <option value="tabTitle">Title 1</option>
                <option value="tabTitle">Title 2</option>
                <option value="tabTitle">Title 3</option>
            </select>
            <label for="artist">Artist</label>
            <select name="artist" id="artist">
                <option value="artist">Artist 1</option>
                <option value="artist">Artist 2</option>
                <option value="artist">Artist 3</option>
            </select>
            <label for="difficulty">Difficulty</label>
            <select name="difficulty" id="difficulty">
                <option value="difficulty">Easy</option>
                <option value="difficulty">Moderate</option>
                <option value="difficulty">Difficult</option>
            </select>
            <label for="genre">Genre</label>
            <select name="genre" id="genre">
                <option value="genre">Pop</option>
                <option value="genre">Folk/Traditional</option>
                <option value="genre">Rock</option>                
                <option value="genre">Country</option>
                <option value="genre">Easy Listening</option>
                <option value="genre">Holiday</option>                
            </select>
            <label for="rating">Rating</label>
            <select name="rating" id="rating">
                <option value="rating">5</option>
                <option value="rating">4</option>
                <option value="rating">3</option>
                <option value="rating">2</option>
                <option value="rating">1</option>
            </select>
            <label for="tuning">Tuning</label>
            <select name="tuning" id="tuning"></select>
        </div>
        <div id="searchResults">
            <h2>Search Results</h2>
            <div id="resultsList">
               <ul>
                   <% for(let i=0; i<6; i++) { %>
                        <li>Guitar Tab Record 1</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <br><br>
        <a href="/tabs/1">Show Tab Page</a>
    </footer>
</body>

</html>