<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header>
        <h1>Show selected tab</h1>
    </header>
    <main>
        <div id="displayTab">
            <p>tab goes here</p>
        </div>
        <div id="sidebar">
            <h3>Tuning</h3>
            <img src="image/standard_tuning.jpeg">
            <br>
            <br>
            <h3>link to chords site</h3>  
            <br> 
        </div>
    </main>
    <br><br>
    <br><br>
  
    <br><br>
    <a href="/">Main Page</a>
</body>
</html>