<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay's Guitar Tab App</title>
    <link rel="stylesheet" href="/css/showTab.css">
</head>
<body>
    <header>
        <h1>Show selected tab</h1>
    </header>
    <main>
        <div id="displayTab">
            <iframe
                src="/tabs/father_and_son_tab.pdf" width="100%" height="600px">
            </iframe>
        </div>
        <div id="sidebar">
            <h3>Tuning</h3>
            <img id="tuningImage" src="/images/standard_tuning.jpeg">
            <br><br>
            <a href="http://chordfind.com/" target="_blank">ChordFind</a>
            <br><br>
            <h3>Tab Source:</h3>
            <p>tab source info here</p>
            <br><br>
            <a href="/">Main Page</a>
            <br><br> 
        </div>
        <a href="/<%=tab.id%>"><%=tab.tabTitle%></a>
    </main>
    <br><br>
    <br><br>
  

</body>
</html>