html {
    background-image: url('/images/guitar-playing-acoustic-watercolor.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}

main {
    display: flex;
    align-content:space-between;
    padding-left: 50px;
    height: 600px;
}

#searchCriteria {
    display: flex;
    flex-direction: column;
}

label {
    font-size: medium;
}

#searchResults {
    width: 950px;
    padding-left: 50px;
    padding-right: 25px;
}

#resultsList {
    border: 1px solid black;
    background-color: rgba(225, 225, 225, 0.9);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    background-color: rgba(150, 125, 90, 0.5);
    padding: 20px 20px 20px 20px;
    font-size: x-large;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: right;
}

ul {
    list-style-type: none;
}