html {
    background-image: url('/images/boy_with_guitar.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h4 {
    text-align: right;
    color: whitesmoke;
}

label {
    color: whitesmoke;
    background-color: rgba(231, 110, 29, 0.2);
}

#text {
    color: whitesmoke;
    background-color: rgba(231, 110, 29, 0.2);
}

#myfile {
    background-color: rgba(112, 128, 144, 0.7);
}

form {
    padding-left: 50px;
    color: whitesmoke;
    height: 500px;
}

footer {
    padding-left: 50px;
    background-color: rgba(245, 245, 245, 0.5);
}