html {
    background-image: url('/images/guitar-playing-acoustic-watercolor.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    display: flex;
    align-content:space-between;
    padding-left: 50px;
    flex-direction: row;
    width: 1600px;
}

header {
    background-color: rgba(255, 235, 205, 0.1);
    text-align: center;
}

#displayTab {
    display: flex;
    flex-direction: column;
    width: 1050px;
}

#sidebar {
    width: 300px;
    padding-left: 50px;
    padding-right: 25px;
    background-color: rgba(225, 225, 225, 0.9);
}

#detail {
    width: 300px;
    inline-size: 300px;
    overflow-wrap: break-word;
    background-color: rgba(243, 232, 232, 0.3);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgba(150, 125, 90, 0.5);
    padding: 20px 20px 20px 20px;
}

#CRUD {
    display: flex;
    align-content:space-between;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: right;
}

h5 {
    text-align: left;
    font-size: medium;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    font-size: large;
    padding: 0 0 4px 0;
}

#tuningImage {
    border: solid silver thin;
    border-radius: 5%;
    width: 75%;
    height: auto;
}

