<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Tabs App Login Page</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <h1>Login to Guitar Tabs App</h1>
    <br><br>
    <form action="/users" method="POST">
        Username: <input type="text" name="username"/><br><br><br>
        Password: <input type="text" name="password"/><br><br>
        <br><br>
        <input type="submit" value="Login"/>
        <br><br><br><br>
    </form>
    <br><br>
    <footer>
        <br><br>
        <a href="/">Main Page</a>
        <br><br><br><br>
    </footer>
</body>
<br><br>
</html>