<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Tabs Users Profile</title>
</head>
<body>
    <h1>CRUD Page</h1>
    <a href="/tabs/1/edit">Edit Record</a>
    <a href="/tabs/new">New Record</a>
    <a href="/tabs/1/delete">Delete Record</a>
    <br><br>
    <a href="/">Main Page</a>
</body>
</html>